{% extends "base.html" %}



{% block content %}
    <div class="centralDiv">
    {% for book in books %}
        <a class="product" href="{% url 'product' book.pk %}">
      <img src="{{ book.image.url }}" alt="Product 1">
      <div class="product-details">
        <h2 class="product-name">{{ book.name }}</h2>
        <p class="product-description">{{ book.author.name }}</p>
        <span class="product-price">{{ book.price }}</span>
      </div>
      <button class="add-to-cart">Add to Cart</button>
    </a>
    {% endfor %}
    </div>
{% endblock %}
</div>
