{% extends "base.html" %}

{% block content %}
<div class="centralDiv">
    <div class="product-detail">
        <img src="{{ book.image.url }}" alt="Product Image" class="product-image">
        <div class="productDescription">
            <p class="desc-name">{{ book.name }}</p>
            <p class="desc-price">{{ book.price }}</p>
            <p class="desc-added">Added: {{ book.published | date:"d.m.Y" }}</p>
            <p class="desc-category">Category: {{ book.category }}</p>
            <p class="desc-author">Author: {{ book.author.name }}</p>
            <p class="desc-count">Pages: {{ book.page_count }}</p>
        </div>
    </div>
</div>
{% endblock %}
