{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="navDiv">
        <a href="{% url 'index' %}">
            <h3>მთავარი</h3>
        </a>
        <a href="{% url 'json_request' %}">
            <h3>json request</h3>
            </a>
        <a href="{% url 'json_request_with_serialization' %}">
            <h3>json_request_with_serialization</h3>
        </a>
        <a href="{% url 'json_request_with_values_list' %}">
            <h3>json_request_with_values_list</h3>
        </a>
        <a href="{% url 'json_request_with_serialization_framework' %}">
            <h3>json_request_with_serialization_framework</h3>
        </a>
    </div>
    <div class="bodyDiv">
        <div class="leftDiv">
            <h3>ფილტრი კატეგორია</h3>
                {% for categoryItem in category %}
                <a href="{% url 'by_category' categoryItem.pk %}">
                    <h5>{{ categoryItem.name }}</h5>
                </a>
                {% endfor %}
            <h3>ფილტრი ავტორი</h3>
                {% for authorItem in author %}
                <a href="{% url 'by_author' authorItem.pk %}">
                    <h5>{{ authorItem.name }}</h5>
                </a>

                {% endfor %}
             <h3>დამატება</h3>
                    <a href="{% url 'add_author' %}">
                        <h5>ავტორის დამატება</h5>
                    </a>
                    <a href="{% url 'add_book' %}">
                        <h5>წიგნის დამატება</h5>
                    </a>
                    <a href="{% url 'add_category' %}">
                        <h5>კატეგორიის დამატება</h5>
                    </a>
        </div>
        {% block content %}{% endblock %}
    </div>

</body>

</html>